/* Menu Styles */
.menu {
  position: relative;
}

.menu .items {
  position: absolute;
  z-index: 10;
  top: 60px;
  right: 0;
  background-color: var(--mid-gray);
  border-radius: 3px;
  padding: 5px;
}

.items button {
  background-color: transparent;
  width: 100%;
  text-align: left;
  padding: 8px;
  color: var(--white);
}

.items button:hover {
  cursor: pointer;
}

.menu-btn {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--white);
  background-color: var(--mid-gray);
  border-radius: 10px;
  border: 1px solid transparent;
}
